@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Raleway:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.header-flex {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellow; */
}

header {
    height: 100px;
    background-color: #002413;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid pink; */

    width: 50%;
    height: auto;
}

.navbar a {
    text-decoration: none;
    color: #ffa800;
    font-size: 18px;
    font-weight: 700px;
    font-family: Poppins;

    /* 
    border: 1px solid darkred; */
}



.navbar a:hover {
    opacity: 0.9;

    transform: scale(0.9);
    transition: 0.5s;
}

header .logo-image {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    margin: 0;
    width: auto;

    /* border: 2px solid blue; */
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 830px;
    padding-top: 20px;
    padding-bottom: 40px;

    background-image: url(../assets/images/ZIPPY-BANNER.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sobre {
    background-color: #ffa800;

}

.aboutus {
    font-family: Poppins;
    font-weight: bolder;
    color: #002413;
    font-size: 60px;

    padding-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    text-transform: uppercase;
}

.lorem {
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 60px;

    color: #002413;
}

main {
    background-color: #002413;
}

body {
    background-color: #002413;
}

.title-menu {
    font-size: 60px;
    font-weight: bolder;
    font-family: Poppins;
    color: #ffa800;

    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card-apio img {
    width: 340px;
    height: 250px;
    margin-top: 20px;

    align-items: center;
    /* border: 1px solid rgb(215, 215, 215); */
}

.card-apio h3 {
    width: 150px;
    font-size: 25px;
    font-family: Poppins;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: #8F1616;

    margin-bottom: 10px;
}


.card-apio p {
    font-size: 11px;
    text-align: center;
    font-family: Poppins;
    text-justify: auto;
    font-weight: 400;

    color: rgb(154, 154, 154);

}

.card-apio {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 390px;
    height: 500px;
    margin: 30px;

    /* border: 2px solid rgb(211, 206, 206); */
    border-radius: 8px;
    /* box-shadow: 2px 2px rgb(215, 215, 215); */

    background-color: #ffa800;

}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.card-apio h2 {
    width: auto;
    font-size: 45px;
    font-family: Poppins;

    display: flex;
    align-items: center;
    text-align: center;

    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

    color: black;
    /* border: 1px solid red; */
}


/* Buy Button */
button {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;

    color: white;
    background-color: #8F1616;
    font-family: Poppins;

    font-weight: 600;
    height: 50px;
    border: 2px #8F1616;

    width: 340px;
    border-radius: 8px;
    margin-top: 30px;

}




.card-apio button:hover {
    opacity: .9;
    transition: 0.5s;
    transform: scale(0.9);
}

.card-apio:hover {
    opacity: .9;
    transition: 0.5s;
    transform: scale(1.2);
}

.card-apio button:active {
    color: #3f0707;
}


.banner-contatos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;

}

/* .telefone {
    width: 250px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;

    border: 1px solid red;
} */

.telefone-box {
    width: 90%;
    border: 1px solid green;

    display: flex;
    flex-direction: row-reverse;
}










.p-input {
    height: 0;
    border: 1px solid #002413;
    display: flex;
    justify-content: center;
}

.input-box {
    /* border: 1px solid red; */
    position: relative;
    bottom: 500px;
    right: 300px;
    margin-top: 100px;
    margin-left: 0px;
}

.title-input {
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    color: #ffa800;


}

.subtitle-input {
    font-family: Poppins;
    /* text-transform: uppercase; */
    font-size: 15px;
    /* font-weight: bold; */
    color: white;
    /* 
    padding-left: 100px; */
}

.subsubtitle-input {
    position: relative;
    color: #8F1616;
    left: 600px;
    /* top: 0%; */
    font-family: Poppins;
    font-size: 60px;
    font-weight: bold;
}

/* input {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffe2a8;
    width: 100%;
    border-radius: 8px;
    border: #ffa800;
    text-align: center;
    height: 50px;
} */














.banner-input-funciona {
    width: auto;
    height: 500px;
    /* Ajuste conforme necessário */
    background-image: url('../assets/images/ZIPPY-INPUT.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adicione outras propriedades conforme necessário... */
}


.banner-contatos-funciona {
    width: auto;
    height: 500px;
    /* Ajuste conforme necessário */
    background-image: url('../assets/images/ZIPPY-CONTATOS.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adicione outras propriedades conforme necessário... */
}

.p-contatos {
    width: 500px;

    position: relative;

    left: 1400px;
    bottom: 300px;
    color: #ffa800;
    font-size: 20px;
    font-family: Poppins;
}

.contatos {
    height: 0px;
}

.telefone {
    color: #8F1616;
    font-weight: bold;
}


.footer {
    height: 50px;

    text-align: center;
    background-color: #002413;

    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa800;
}